.btn {
  background-color: #000;
  color: white;
  /* border: 1px solid #fff !important; */
  border-radius: 8px !important;
  outline: none;
  border-color: #fff !important;
  padding: 0.5rem 1rem;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #3192a3 !important;
  color: #fff;
}
