.category {
  padding: 3rem 0;
  height: max-content;
  background-color: #fafafa;
}

.category h3 {
  font-size: 25px;
  font-family: "Aeonik", sans-serif;
  text-align: center;
}

.categoryInner {
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
