.navContainer {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px !important;
  width: 101px;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 500;
  text-decoration: none !important;
}

.link img {
  transition: all 0.7s;
}

.arrowDown {
  padding-top: 3px;
}

.logoDiv {
  padding-left: 2rem;
  width: 30%;
}

.linksDiv {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.linksLeft {
  display: flex;
  width: 60%;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
}

.linksRight {
  display: flex;
  width: 20%;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.links:hover {
  color: #058196;
}

.cart {
  cursor: pointer;
}

.mobileDiv {
  display: none;
}

.profileMenu {
  height: 170px;
  width: 150px;
  padding: 0.5rem 0;
}

.profileMenu div {
  padding: 0.5rem;
}

.profileMenu div:hover {
  background-color: #f2f2f2;
}

@media screen and (max-width: 700px) {
  .navContainer {
    display: none;
  }

  .mobileDiv {
    display: flex;
    /* width: 100vw; */
    height: 80px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
