.footerContainer {
  height: 482px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
}

.footerLogo {
  margin-bottom: 2rem;
}

.socialsDiv {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.footerLeft {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footerRight {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding-right: 5%;
}

.footerLinksColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
}

.footerLinksColumn h3,
.footerLinksColumn div,
.footerLinksColumn p {
  margin: 0;
}

.footerLinksColumn h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .footerContainer {
    width: auto;
    height: max-content;
    flex-direction: column-reverse;
    padding-left: 0;
    gap: 1rem;
    padding: 2rem 1rem;
  }

  .footerRight {
    width: 95%;
    flex-direction: column;
  }

  .footerLeft {
    width: 100%;
  }
}
