.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.ant-collapse-header {
  color: white !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding: 1.2rem 1rem !important;
}

.ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  color: white !important;
  font-weight: 500;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

button.rec-dot {
  display: none;
}

.grUxXV {
  height: 270px;
}

/* a {
  color: inherit !important;
}
a:hover {
  color: inherit !important;
} */
.pointer {
  cursor: pointer;
}

#my-nav {
  background-color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.loading-div {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

/* 404 page */
#mainfof {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h3 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

@media screen and (max-width: 768px) {
  .sc-eCYdqJ.eLPooy.rec.rec-carousel {
    width: 100vw;
    height: 320px;
  }
}
